<section id="gigs">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Upcoming shows</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <center>
        <div class="row">
		<!-- <div class="col-lg-3 col-md-6  text-center"> -->
            <div class="text-center">
                <div class="service-box">
			<img src="../img/ColorsOfVoicesSmall.png" alt='Colors of Voices'></img>
			<h3>Colors of Voices</h3>
			<p class="text-muted">Live at <a href="https://fraumayer.at/">Frau Mayer</a> Rudolfsplatz 12 1010 Wien</p>
			<p class="text-muted">Thursday September 19th 8pm</p>
			Nooshin Khoshnazar-Thoma - Vocals<br>
			Caroline Auque - Vocals<br>
			Christina Kapusta - Vocals<br>
			Teona Mosia - Vocals<br>
		        Johannes Khoshnazar-Thoma - Piano<br>
		        Georg Schmelzer-Ziringer - bass<br>
		        Michael Seyfried - drums<br>
			<p>
<p>
Colors of Voices sind vier Frauenstimmen aus unterschiedlichen
Gegenden der Erde, von denen jede ihre eigene unverwechselbare
Geschichte erzählt. Den Anfang macht Nooshin Khoshnazar-Thoma,
eine aus dem Iran stammende in Wien lebende Sängerin. Sie wird
uns in die Welt der persischen klassischen Musik führen und
einige persische Lieder in modernen Arrangements präsentieren.
<p>
Caroline Auque ist eine französisch-österreichische Chanson
Sängerin, die uns mit ihrer unverwechselbaren Altstimme
jazzige Versionen verschiedener Chansons vortragen wird.
Christina Kapusta, die unter anderem ein Duo mit dem
Wiener Bassisten Oliver Steger hat, ist bekannt für
ihre Eigenkompositionen, von denen sie vier singen
wird. Teona Mosia aus Georgien, die den Begriff
des georgischen Jazz geprägt hat, wird uns Lieder aus
ihrer Heimat auf georgisch und auch auf megrelisch,
der Sprache der ursprünglichen Georgier, singen.
<p>
Begleitet werden die Sängerinnen umsichtig von
Johannes Khoshnazar-Thoma am Klavier, Georg
Schmelzer-Ziringer am Bass und Michael Seyfried
am Schlagzeug.

                </div>
            </div>

	    <!--	 <p>&nbsp;</p> -->
	 </div>
	 </center>
    </div>
</section>
